<div class="register">
    <form action="/addUser" method="post">
        <label for="">Nombre Completo:</label>
        <input type="text" name="fullName">
        <label for="">Nombre de Usuario:</label>
        <input type="text" name="userName">
        <label for="">Contraseña</label>
        <input type="password" name="password">
        <button type="submit">Registrar</button>
    </form>
</div>