<header class="cabecera">
    <h2>LOGIN</h2>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/login">Iniciar Sesion</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>
</header>